.bgimg{
    background-image: url(images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 1100px;
    -webkit-animation: slider 20s infinite linear;
    animation: slider 20s infinite linear;
    -webkit-animation: slider 40s infinite linear;
    animation: slider 40s infinite linear;
    
}

@-webkit-keyframes slider{
    0%{background-image: url(images/1.jpg);}
    50%{background-image: url(images/7.jpg);}
    50%{background-image: url(images/4.jpg);}
    50%{background-image: url(images/3.jpg);}
    50%{background-image: url(images/6.jpg);}
    50%{background-image: url(images/2.jpg);}
    50%{background-image: url(images/5.jpg);}
}

@keyframes slider{
    0%{background-image: url(images/1.jpg);}
    15%{background-image: url(images/7.jpg);}
    30%{background-image: url(images/4.jpg);}
    45%{background-image: url(images/3.jpg);}
    60%{background-image: url(images/6.jpg);}
    75%{background-image: url(images/2.jpg);}
    95%{background-image: url(images/5.jpg);}
}

.hearderset{
    padding-top: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

.hearderset h1, h2, h3{
    font-family:fantasy;
    word-spacing: 5px;
    letter-spacing: 4px;
}



/***************Services************/


.ourservices{
     
   
    
    padding-top: 190px;
    padding-bottom: 1px;
    
    
   
}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
    color: orange;
    font: fantasy;

}

.ourservices p{
    padding: 10px 0;
    color: white;
}

.rowsetting{
    margin: 50px 0;
}

.services h2{
    color: #f4f1f1;
}



.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fa-camera-retro{
    margin-top: 25px;
}

.fa-video{
    margin-top: 25px;
}

.fa-search{
    margin-top: 25px;
}

.rowsetting p{
    padding: 10px;
    color: white;
    font-weight: 400;
}

.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: inherit;
}

/***********************Latest Work******************/
.latestwork{
    
    width: 100%;
    
    padding-top: 0;
    padding-bottom: 0px;
}

.latestwork h1{
    font-size: 50px;
    font-weight: bold; 
    color: orange;
    padding-top: 60px;
    text-align: center;
}

.latestwork p{
    color: aliceblue;
    padding-top: 20px;
}
.card{
    margin-top: 40px;
    
}

.card img{
    height: 380px;
    width: 350px;
}

/****************testimonials**************/

.testimonials{
    
    padding-top: 70px;
    width: 100%;
    color: #fff;
    background-attachment: fixed;
    width: 100%;
}

.testimonials h1{
    
   font-size: 50px;
    font-weight: bold; 
    color: orange; 
    
}

.testimonials p{
    text-align: justify;
}

h4{
    color: aqua;
}

.testsetting{
    margin-top: 50px;
}
/****************footer**************/

.footer{
    height: 50px;
    background-color: #524f4f;
}

.footer h6{
    line-height: 50px;
}


/*************Wedding******************/


.wedding{
    height: 10px;
    color: white;
}
  
.weddingimg{
    padding: 20px 0;
    font-family: fantasy;
    letter-spacing: 5px;
    margin-top: 20px;
}

/**********About**********/

.about{
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/bg1.jpg);
     background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    padding-bottom: 100px;
  
   
}

.about h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-family: monospace;
    color: orange;
    font-size: 50px;
    font-weight: 600;
    
}


.about h2{
       text-align: center;
    font-family: monospace;
    padding-top: 100px;
    color: aqua;
    font-size: 30px;
    
}

.about h3{
       text-align: center;
    font-family: monospace;
    padding-top: 30px;
    color: aqua;
    font-size: 22px;
    
}

.social{
    text-align: center;
    color: azure;
    padding-top: 40px;
    margin-bottom: 200px;
    font-size: 35px;
    
    
}

.fa-youtube{
    color: aliceblue;
    padding-right: 30px;
    text-decoration: none;
}

.fa-facebook-square{
    color: aliceblue;
    text-decoration: none;
}

.fa-youtube:hover{
    color: red;
}

.fa-facebook-square:hover{
    color: #2a2a89;
}

.bgimg1{
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/bg1.jpg);
     background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*Album******/

.album h1{
   font-size: 50px;
    font-weight: bold; 
    color: orange;
    padding-top: 100px;
    text-align: center;
    
}

.album p{
    text-align: center;
    color: aliceblue;
    
}
.fa-images{
    margin-left:48%;
    text-align: center;
    font-size: 50px;
    color: #c47e9e;
    padding-top: 30px;
}


/************Other*********/


.other{
background-color: cornsilk;
}
.other h1{
    color: #d69a2c;
    font-family: fantasy;
    font-weight: 100;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

.rowsetting1 h2{
    text-align: center;
    font-family: inherit;
    padding-top: 50px;
    color: brown;
    font-size: 25px;
}

.rowsetting1 img {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 320px;
    height: 350px;
    
}
