.bgimg{
    background-image: url(images/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
}

.hearderset{
    padding-top: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

.hearderset h1, h2, h3{
    font-family:fantasy;
    word-spacing: 5px;
    letter-spacing: 4px;
}


/***************Services************/


.ourservices{
    padding:  100px 0 60px;
    height: 700px;
   
}

.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}

.rowsetting{
    margin: 80px 0;
}



.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.fa-camera-retro{
    margin-top: 25px;
}

.fa-video{
    margin-top: 25px;
}

.fa-search{
    margin-top: 25px;
}

.rowsetting p{
    padding: 10px;
    color: #6c757d;
    font-weight: 400;
}

.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}

/***********************Latest Work******************/
.latestwork{
    height: 1100px;
    width: 100%;
    padding: 100px 0 50px;
}

.latestwork h1{
    font-size: 50px;
    font-weight: bold; 
}

.card{
    margin-top: 40px;
    
}

.card img{
    height: 380px;
    width: 350px;
}

/****************testimonials**************/

.testimonials{
    height: 700px;
    padding: 100px 0 60px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(images/testimonial.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/testimonial.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    width: 100%;
}

.testimonials h1{
    font-size: 50px;
    font-weight: bold; 
}

.testsetting{
    margin-top: 50px;
}